html,body {height: 100%}.navbar-toggle {float: left;margin-left: 15px}.navbar-brand{position:relative;padding-top:5px !important}.navbar.navbar, .navbar-default.navbar {background-color:#0d47a1;color: #ffffff;width:100%}.navmenu {z-index: 1;font-size: 18px;} .navmenu li{border-top:1px solid #ccc;} .navmenu li:hover{background-color: #ccc} .navmenu ul li.ultimo{border-bottom:1px solid #ccc;} .canvas {position: relative;left: 0;z-index: 2;min-height: 100%;padding: 50px 0 0 0;background: #fff}.top{position:relative;padding-top:20px;}@media (min-width: 0) {.navbar-toggle {display: block}}@media (min-width: 992px) {body {padding: 0}.navbar {right: auto;background: none;border: none}.canvas {padding: 0}}
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}